---
- name: Deploy Node.js Docker app
  hosts: localhost       # run on this machine
  become: yes            # for Docker commands requiring sudo
  vars:
    ansible_python_interpreter: /usr/bin/python3
  tasks:

    - name: Stop old container if running
      docker_container:
        name: drama-app
        state: absent
        force_kill: yes

    - name: Build Docker image
      docker_image:
        name: drama-app
        source: build 
        build: 
          path: ../             # path to your Dockerfile
        state: present

    - name: Start Docker container
      docker_container:
        name: drama-app
        image: drama-app:latest
        state: started
        ports:
          - "3000:3000"

    - name: Run CI test script
      command: node ../ci_test.js