name: CI Tests

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install dependencies
      run: npm install

    - name: Run CI test script
      run: node ci_test.js

    - name: Trigger Render Deploy
      if: success()  # only runs if all previous steps passed
      run: |
        curl -X POST https://api.render.com/deploy/srv-d5s14tq4d50c73d0bs7g?key=b39xSkR2IQM
        echo "Render deploy triggered."